<div class="productView ob-productView" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}" data-product-variant="single-product-option"{{/if}}>
  <div class="ob-product-carousel-container">
    <button class="ob-carousel-vertical-prev">
      <svg><use xlink:href="#icon-keyboard-arrow-up" /></svg>
    </button>
    {{> components/ob-custom/product/ob-product-image-carousel}}
    <button class="ob-carousel-vertical-next">
      <svg><use xlink:href="#icon-keyboard-arrow-down" /></svg>
    </button>
  </div>
  
  <div class="ob-product-main-image">
    {{> components/ob-custom/product/ob-product-image}}
  </div>
  <div class="ob-productView-details">
    {{> components/ob-custom/product/ob-product-details}}
  </div>
</div>