<nav class="ob-cat-subnav">
  <a class="ob-cat-subnav-link ob-text-secondary ob-paragraph-md" href="#ob-cat-subnav" title='subnav-desc'>Description</a>
  <a class="ob-cat-subnav-link ob-text-secondary ob-paragraph-md" href="#ob-cat-subnav" title='subnav-specs'>Specifications</a>
  <a class="ob-cat-subnav-link ob-text-secondary ob-paragraph-md" href="#ob-cat-subnav" title='subnav-videos'>Videos</a>
  <a class="ob-cat-subnav-link ob-text-secondary ob-paragraph-md" href="#ob-cat-subnav" title='subnav-reviews'>Reviews</a>
</nav>
<div class="ob-product-subnav-content">
  <div class="ob-text-primary ob-paragraph-lg ob-subnav-content-item ob-show" id="subnav-desc">{{{product.description}}}</div>
  <div class="ob-text-primary ob-paragraph-lg ob-subnav-content-item" id="subnav-specs">{{{product.description}}}</div>
  <div class="ob-text-primary ob-paragraph-lg ob-subnav-content-item" id="subnav-videos">{{{product.description}}}</div>
  <div class="ob-text-primary ob-paragraph-lg ob-subnav-content-item" id="subnav-reviews">{{{product.description}}}</div>
</div>