---
blog:
    posts:
        limit: 5
        pages: 3
        summary: 200
---
{{#partial "page"}}
<div class="ob-container">

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    <div class="f-grid">
        <div class="col-3">
            <h5 class="ob-heading-cta-md">Blog Categories</h5>
            <div class="ob-blog-accordion"></div>
        </div>
        <div class="col-8">
            {{> components/ob-custom/blog/ob-blog-card-grid}}
        </div>
    </div>
    {{> components/common/paginator pagination.blog}}

</div>

{{/partial}}
{{> layout/base}}
