{{#partial "page"}}

<div class="ob-container ob-pt-25-mobile ob-pb-25-mobile" data-page-type="{{page_type}}">
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    <img class="ob-webpage-hero ob-mb-50 ob-mb-25-mobile" src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/webpage-sample.png" />
    
    {{#unless theme_settings.hide_page_heading }}
        <h1 class="ob-text-primary ob-heading-cta-lg ob-mb-25">{{ page.title }}</h1>
    {{/unless}}

    <div class="ob-webpage-paragraph-container">
        <p class="ob-text-primary ob-paragraph-md">
            Foam is to snowshoes as shaped skis are to that industry–a reinterpretation of an old design that results in a break through to make your outdoor experience more accessible, and more enjoyable. It’s positively transformational.
        </p>
        <p class="ob-text-primary ob-paragraph-md">
            Crescent Moon’s patented all-foam snowshoes will change your notion about snowshoeing forever. Like a pair of your favorite running or walking shoes, foam bends and flexes in perfect synchronicity with your foot making it feel very much like a natural extension of the way you move. And for recreational snowshoeing, we promise there is no better solution.  They’re quiet, cushioned, lightweight, and now, with the addition of ICESPIKE traction points, they’re versatile and have great grip. So, step into something a little more comfortable....and prepare yourself to be very pleasantly surprised by the performance and feel of foam.
        </p>

        <p class="ob-text-primary ob-paragraph-md">
            All snowshoes have bindings–and the binding is what connects you to the platform, whether its foam, or aluminum. The better the binding, the more secure and efficient the snowshoe.  Crescent Moon’s unique binding solutions have been recognized and mimicked for decades, but no one holds you closer or gives you a better fit than the bindings we put on both our foam and our aluminum shoes.
        </p>
    </div>

    <div class="ob-newsletter-widget ob-mt-25">
        <div class="ob-newsletter-input-container f-grid align-center justify-center">
            <h5 class="col-xs-12 col-md-6 ob-text-white ob-heading-cta-md">Join Our Newsletter</h5>
            <div class="col-xs-12 col-md-6">
                {{> components/common/subscription-form}}
            </div>
        </div>
    </div>
    <!-- {{#if page.sub_pages}}
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
        {{#each page.sub_pages}}
            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
        {{/each}}
        </ul>
    </nav>
    {{/if}} -->

    <!-- {{ page.title }} -->

    {{{region name="page_builder_content_1"}}}
    {{{region name="page_builder_content_1"}}}
    {{{region name="page_builder_content_3"}}}
    {{{region name="page_builder_content_4"}}}
    {{{region name="page_builder_content_5"}}}
    {{{region name="page_builder_content_6"}}}
    {{{region name="page_builder_content_7"}}}
    {{{region name="page_builder_content_8"}}}
    {{{region name="page_builder_content_9"}}}
    {{{region name="page_builder_content_10"}}}
    {{{region name="page_builder_content_11"}}}
    {{{region name="page_builder_content_12"}}}
    {{{region name="page_builder_content_13"}}}
    {{{region name="page_builder_content_14"}}}
    {{{region name="page_builder_content_15"}}}
    {{{region name="page_builder_content_16"}}}
    {{{region name="page_builder_content_17"}}}
    {{{region name="page_builder_content_18"}}}
    {{{region name="page_builder_content_19"}}}
    {{{region name="page_builder_content_20"}}}
    {{{region name="page_builder_content_21"}}}
    {{{region name="page_builder_content_22"}}}
    {{{region name="page_builder_content_23"}}}
    {{{region name="page_builder_content_24"}}}
    {{{region name="page_builder_content_25"}}}
    {{{region name="page_builder_content_26"}}}
    {{{region name="page_builder_content_27"}}}
    {{{region name="page_builder_content_28"}}}
    {{{region name="page_builder_content_29"}}}
    {{{region name="page_builder_content_30"}}}
  
    <!-- <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}
    </div> -->

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</main>
</div>
{{/partial}}

{{> layout/base}}
