---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{inject "productId" product.id}}
{{inject "zoomSize" theme_settings.zoom_size}}
{{inject "productSize" theme_settings.product_size}}

{{#partial "page"}}
<div class="ob-container">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product">
        {{> components/ob-custom/product/ob-product-page-content}}
    </div>

    <div itemscope itemtype="http://schema.org/Product">
        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}
    </div>

</div>


{{/partial}}
{{> layout/base}}
