<div class="ob-cat-highlights">
  <div class="ob-container ob-pt-25-mobile">
    <h5 class="ob-heading-cta-md text-center ob-pt-150 ob-pt-25-mobile ob-mb-25">Highlights</h5>
    <div class="f-grid">
        <div class="col-12 col-md-6 col-grid justify-center ob-cat-highlights-img">
            <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/ob-cat-highlight-example.png" />
        </div>
        <div class="col-12 col-md-6 ob-cat-highlights-list">
            <div class="ob-cat-hightlights-list-item">
                <svg><use xlink:href="#icon-ob-cat-highlights-bullet" /></svg>
                Binding stays flexible and conforms to your foot for a perfect fit. All day comfort and support.
            </div>
            <div class="ob-cat-hightlights-list-item">
                <svg><use xlink:href="#icon-ob-cat-highlights-bullet" /></svg>
                Waterproof straps don't freeze, stretch, or come out of adjustment.          </div>
            <div class="ob-cat-hightlights-list-item">
                <svg><use xlink:href="#icon-ob-cat-highlights-bullet" /></svg>
                Flexible decking material for quiet hiking - compared to loud plastic snowshoes.           </div>
            <div class="ob-cat-hightlights-list-item">
                <svg><use xlink:href="#icon-ob-cat-highlights-bullet" /></svg>
                Binding stays flexible and conforms to your foot for a perfect fit. All day comfort and support.
            </div>
            <div class="ob-cat-hightlights-list-item">
                <svg><use xlink:href="#icon-ob-cat-highlights-bullet" /></svg>
                Closed toe design secures your foot in all directions - top to bottom, side to side and front to back. No need to over tighten to keep your foot in place.           </div>
            <div class="ob-cat-hightlights-list-item">
                <svg><use xlink:href="#icon-ob-cat-highlights-bullet" /></svg>
                Binding stays flexible and conforms to your foot for a perfect fit. All day comfort and support.
            </div>
            <div class="ob-cat-hightlights-list-item">
                <svg><use xlink:href="#icon-ob-cat-highlights-bullet" /></svg>
                Binding stays flexible and conforms to your foot for a perfect fit. All day comfort and support.
            </div>
            <div class="ob-cat-hightlights-list-item">
                <svg><use xlink:href="#icon-ob-cat-highlights-bullet" /></svg>
                Binding stays flexible and conforms to your foot for a perfect fit. All day comfort and support.
            </div>
        </div>
    </div>
  </div>
</div>