<h2 class="ob-text-secondary ob-heading-cta-md">
  GOLD SERIES - LIFETIME WARRANTY
</h2>
<h2 class="ob-text-secondary ob-heading-cta-md">
  SILVER SERIES - 2 YEAR WARRANTY
</h2>
<p class="ob-text-primary ob-paragraph-md">
  We guarantee the quality of every snowshoe we make. Any defect in materials or workmanship will be repaired, or the snowshoe replaced, at our expense (less shipping charges) within 15 working days to the original purchaser. Damage attributable to wear and tear, acts of nature (cars, dogs, etc.) will be repaired at reasonable rates. For full warranty benefits, fill out the warranty information and return within 30 days from the date of purchase. Please save your receipt for warranty service.
</p>

<div class="powr-form-builder" id="4c3d84c0_1604938556"></div><script src="https://www.powr.io/powr.js?platform=bigcommerce"></script>

<!------ REMOVE FORMSPREE 
<form class="form" action="https://formspree.io/f/myybelqd" method="post">
  {{inject 'contactEmail' (lang 'forms.validate.contact.email_address')}}
  {{inject 'contactQuestion' (lang 'forms.validate.contact.question')}}
  {{#if forms.contact.error}}
  <div id="contact-us-error">{{> components/common/alert/alert-error forms.contact.error}}</div>
  {{/if}}
  <input type="hidden" name="page_id" id="page_id" value="{{forms.contact.page_id}}">
  <div class="form-row form-row--half">
      <div class="form-field">
          <label class="form-label" for="first_name">First Name
              <small>{{lang 'common.required' }}</small>
          </label>
          <input required class="form-input" type="text" id="first_name" name="first_name" value="{{customer.email}}">
      </div>
      <div class="form-field">
        <label class="form-label" for="last_name">Last Name
            <small>{{lang 'common.required' }}</small>
        </label>
        <input required class="form-input" type="text" id="last_name" name="last_name" value="{{customer.email}}">
    </div>
  </div>

  <div class="form-field">
    <label class="form-label" for="address_line_one">Address Line 1
        <small>{{lang 'common.required' }}</small>
    </label>
    <input required class="form-input" type="text" id="address_line_one" name="address_line_one" value="{{customer.email}}">
  </div>
  <div class="form-row form-row--half">
    <div class="form-field">
      <label class="form-label" for="address_line_2">Address Line 2
      </label>
      <input class="form-input" type="text" id="address_line_2" name="address_line_2" value="{{customer.email}}">
    </div>
    <div class="form-field">
      <label class="form-label" for="city">City
      </label>
      <input class="form-input" type="text" id="city" name="city" value="{{customer.email}}">
    </div>
    <div class="form-field">
      <label class="form-label" for="state">State
      </label>
      <input class="form-input" type="text" id="state" name="state" value="{{customer.email}}">
    </div>
    <div class="form-field">
      <label class="form-label" for="zip">Zip
      </label>
      <input class="form-input" type="text" id="zip" name="zip" value="{{customer.email}}">
    </div>
  </div>

  <div class="form-row form-row--half">
    <div class="form-field">
      <label class="form-label" for="phone">Phone
      </label>
      <input class="form-input" type="text" id="phone" name="phone" value="{{customer.email}}">
    </div>
    <div class="form-field">
      <label class="form-label" for="contact_email">Email
        <small>{{lang 'common.required' }}</small>
      </label>
      <input required class="form-input" type="text" id="contact_email" name="contact_email" value="{{customer.email}}">
    </div>
  </div>

  <div class="form-field">
    <label class="form-label" for="product_name">Product Name
      <small>{{lang 'common.required' }}</small>
    </label>
    <input required class="form-input" type="text" id="product_name" name="product_name" value="{{customer.email}}">
  </div>

  <div class="form-field">
    <label class="form-label" for="model_number">Model Number
      <small>{{lang 'common.required' }}</small>
    </label>
    <input required class="form-input" type="text" id="model_number" name="model_number" value="{{customer.email}}">
  </div>

  <div class="form-field">
    <label class="form-label" for="store_purchased_at">Store Where Purchased
      <small>{{lang 'common.required' }}</small>
    </label>
    <input required class="form-input" type="text" id="store_purchased_at" name="store_purchased_at" value="{{customer.email}}">
  </div>

  <div class="form-field">
    <label class="form-label" for="date_purchased">Date Purchased
      <small>{{lang 'common.required' }}</small>
    </label>
    <input required class="form-input" type="text" id="date_purchased" name="date_purchased" value="{{customer.email}}">
  </div>

  <div class="form-field">
    <label class="form-label" for="how_hear_about_us">How did you hear about Crescent Moon
    </label>
    <textarea name="how_hear_about_us" id="how_hear_about_us" rows="5" cols="50" class="form-input"></textarea>
  </div>

  <div class="form-field">
      <label class="form-label" for="form_comments">Comments?
          <small>{{lang 'common.required' }}</small>
      </label>
      <textarea name="form_comments" id="form_comments" rows="5" cols="50" class="form-input"></textarea>
  </div>


    <small>{{lang 'common.required' }}</small>
    <fieldset required class="form-field">
      <legend>Would you like to receive information on new products from us? </legend>
      <input type="radio" checked name="want_more_info" id="want_more_info_yes" value="yes"/><label for="want_more_info_yes">Yes</label><br />
      <input type="radio" name="want_more_info" id="want_more_info_no" value="no"/><label for="want_more_info_no">No</label><br />
    </fieldset>

  {{{forms.contact.recaptcha.markup}}}

  <div class="form-actions">
      <button class="ob-btn ob-btn-bg-red ob-text-white" type="submit">Submit </button>
  </div>
</form>

--->
