<div class="ob-wrapper ob-home-bg-2">
  <div class="ob-container">

    <div class="row">
      <div class="small-12 large-6 columns">
        <div class="ob-cta-container ob-cta-container-lg">
          <h5 class="ob-heading-cta-lg ob-text-primary">Crescent Moon Do Snowshoes Best</h5>
          <p class="ob-paragraph-lg ob-text-primary">
            Our mission is to make the worlds best snow shoes and provide our friends, 
            and new friends - customers - with a world class outdoor winter experience, no matter where you live.
          </p>
          <a class="ob-text-primary ob-cta-link" href="#">About Us <svg class="ob-arrow-right-red"><use xlink:href="#icon-ob-arrow-right" /></svg></a>
        </div>
      </div>
      <div class="small-12 large-6 columns">
        <div class="ob-img-container">
          <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/rectangle-62.png" class="ob-home-cta-img-1"/>
          <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/rectangle-63.png" class="ob-home-cta-img-2"/>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 large-6 columns">
        <div class="ob-img-container">
          <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/rectangle-60-1-.png" class="ob-home-cta-img-3"/>
        </div>
      </div>
      <div class="small-12 large-6 columns">
        <div class="ob-cta-container ob-cta-container-lg">
          <h5 class="ob-heading-cta-lg ob-text-white">Crescent Moon Do Snowshoes Best</h5>
          <p class="ob-paragraph-lg ob-text-white">
            Our mission is to make the worlds best snow shoes and provide our friends, 
            and new friends - customers - with a world class outdoor winter experience, no matter where you live.
          </p>
          <a class="ob-text-white ob-cta-link" href="#">About Us <svg class="ob-arrow-right-red"><use xlink:href="#icon-ob-arrow-right" /></svg></a>
        </div>
      </div>
    </div>

  </div>
</div>