<div class="ob-wrapper ob-home-bg-4">
  <div class="ob-container ob-pt-25-mobile ob-pb-25-mobile">
    {{{region name="cta_section_2_row_1"}}}
    {{{region name="cta_section_2_row_2"}}}
    <div class="row">
      <div class="small-12 large-6 columns">
        <div class="ob-cta-container ob-pt-50">
          <h5 class="ob-heading-cta-md ob-text-primary ob-cta-container-md ob-mb-25">Foam Snowshoes Highlights</h5>
          <div class="row">
            <div class="small-6 columns ob-flex-col">
              <img class="ob-cta-icon" src="{{cdn 'icons/ob-home-cta-icon-1.svg'}}" />
              <h6 class="ob-heading-cta-sm">Rocket Perform</h6>
              <p class="ob-paragraph-md ob-text-secondary">
                Bends and rolls with your foot to give you a natural stride
              </p>
            </div>
            <div class="small-6 columns ob-flex-col">
              <img class="ob-cta-icon" src="{{cdn 'icons/ob-home-cta-icon-1.svg'}}" />
              <h6 class="ob-heading-cta-sm">Rocket Perform</h6>
              <p class="ob-paragraph-md ob-text-secondary">
                Bends and rolls with your foot to give you a natural stride
              </p>
            </div>
            <div class="small-6 columns ob-flex-col">
              <img class="ob-cta-icon" src="{{cdn 'icons/ob-home-cta-icon-1.svg'}}" />
              <h6 class="ob-heading-cta-sm">Rocket Perform</h6>
              <p class="ob-paragraph-md ob-text-secondary">
                Bends and rolls with your foot to give you a natural stride
              </p>
            </div>
            <div class="small-6 columns ob-flex-col">
              <img class="ob-cta-icon" src="{{cdn 'icons/ob-home-cta-icon-1.svg'}}" />
              <h6 class="ob-heading-cta-sm">Rocket Perform</h6>
              <p class="ob-paragraph-md ob-text-secondary">
                Bends and rolls with your foot to give you a natural stride
              </p>
            </div>
            <div class="small-6 columns">
              <a href="#" class="ob-btn ob-btn-bg-red ob-text-white ob-mt-25">
                Shop Foam Snowshoes <svg class="ob-arrow-right ob-arrow-right-white"><use xlink:href="#icon-ob-arrow-right" /></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="small-12 large-6 columns ob-desktop">
        <div class="ob-img-container">
          <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/rectangle-64.png" class="ob-home-cta-img-4"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-6 columns ob-desktop">
        <div class="ob-img-container">
          <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/rectangle-64.png" class="ob-home-cta-img-5"/>
        </div>
      </div>

      <div class="small-12 large-6 columns">
        <div class="ob-cta-container ob-pt-50">
          <h5 class="ob-heading-cta-md ob-text-primary ob-cta-container-md ob-mb-25">Foam Snowshoes Highlights</h5>
          <div class="row">
            <div class="small-6 columns ob-flex-col">
              <img class="ob-cta-icon" src="{{cdn 'icons/ob-home-cta-icon-1.svg'}}" />
              <h6 class="ob-heading-cta-sm">Rocket Perform</h6>
              <p class="ob-paragraph-md ob-text-secondary">
                Bends and rolls with your foot to give you a natural stride
              </p>
            </div>
            <div class="small-6 columns ob-flex-col">
              <img class="ob-cta-icon" src="{{cdn 'icons/ob-home-cta-icon-1.svg'}}" />
              <h6 class="ob-heading-cta-sm">Rocket Perform</h6>
              <p class="ob-paragraph-md ob-text-secondary">
                Bends and rolls with your foot to give you a natural stride
              </p>
            </div>
            <div class="small-6 columns ob-flex-col">
              <img class="ob-cta-icon" src="{{cdn 'icons/ob-home-cta-icon-1.svg'}}" />
              <h6 class="ob-heading-cta-sm">Rocket Perform</h6>
              <p class="ob-paragraph-md ob-text-secondary">
                Bends and rolls with your foot to give you a natural stride
              </p>
            </div>
            <div class="small-6 columns ob-flex-col">
              <img class="ob-cta-icon" src="{{cdn 'icons/ob-home-cta-icon-1.svg'}}" />
              <h6 class="ob-heading-cta-sm">Rocket Perform</h6>
              <p class="ob-paragraph-md ob-text-secondary">
                Bends and rolls with your foot to give you a natural stride
              </p>
            </div>
            <div class="small-6 columns">
              <a href="#" class="ob-btn ob-btn-bg-red ob-text-white ob-mt-25">
                Shop Foam Snowshoes <svg class="ob-arrow-right ob-arrow-right-white"><use xlink:href="#icon-ob-arrow-right" /></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{{region name="cta_free_shipping"}}}
    <div class="row ob-cta-free-shipping ob-flex-justify-center">
        <div class="ob-cta-container-lg text-center ob-text-white">
          <img src="{{cdn 'icons/ob-free-shipping.svg'}}" />
          <h5 class="ob-heading-cta-md ob-text-white">Free Shipping. Always.</h5>
          <p class="ob-paragraph-md">No hidden fees. Ships fast and free for a seamless customer experience.</p> 
        </div>
    </div>

  </div>
</div>

