<div class="ob-wrapper ob-home-bg-4">
  <img src="{{cdn '../icons/trending-gear-bottom.svg'}}" />
  <div class="ob-container ob-pt-0 ob-pb-50 ob-pb-25-mobile ob-mw-1200">
    {{{region name="cta_section_2_row_1"}}}
    {{{region name="cta_section_2_row_2"}}}
    

    {{{region name="cta_free_shipping"}}}
    <div class="ob-cta-free-shipping ob-flex-justify-center">
        <div class="text-center ob-text-white free-shipping-text-block">
          <img src="{{cdn 'icons/ob-free-shipping.svg'}}" />
          <h5 class="ob-heading-cta-md ob-text-white">Free Shipping. Always.</h5>
          <p class="ob-paragraph-md ob-text-white">No hidden fees. Ships fast and free for a seamless customer experience.</p> 
        </div>
    </div>

  </div>
</div>

