<div class="ob-wrapper ob-home-bg-2" id="ob-cta-section-1">
  <div class="ob-container ob-pt-50 ob-pt-0-mobile ob-pb-50">
    {{{region name="cta_section_1_row_1"}}}
    {{{region name="cta_section_1_row_2"}}}

    <div class="f-grid ob-mb-25-mobile">
      <div class="col-12 col-md-6 order-2 order-md-1">
        <div class="ob-cta-container ob-cta-container-lg ob-pb-100 ob-pb-0-mobile">
          <h5 class="ob-heading-cta-lg ob-text-primary">Crescent Moon Do Snowshoes Best</h5>
          <p class="ob-paragraph-lg ob-text-primary">
            Our mission is to make the worlds best snow shoes and provide our friends, 
            and new friends - customers - with a world class outdoor winter experience, no matter where you live.
          </p>
          <a class="ob-text-primary ob-cta-link" href="#">About Us <svg class="ob-arrow-right-red"><use xlink:href="#icon-ob-arrow-right" /></svg></a>
        </div>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2">
        <div class="ob-img-container">
          <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/rectangle-62.png" class="ob-home-cta-img-1"/>
          <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/rectangle-63.png" class="ob-home-cta-img-2"/>  
        </div>
      </div>
    </div>

    <div class="f-grid align-start">
      <div class="col-12 col-md-6">
        <div class="ob-img-container ob-img-container-1 ob-pt-25 ob-pt-0-mobile">
          <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/rectangle-60-1-.png" class="ob-home-cta-img-3"/>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="ob-cta-container ob-cta-container-lg ob-pt-25 ob-pt-0-mobile">
          <h5 class="ob-heading-cta-lg ob-text-white">Crescent Moon Do Snowshoes Best</h5>
          <p class="ob-paragraph-lg ob-text-white">
            Our mission is to make the worlds best snow shoes and provide our friends, 
            and new friends - customers - with a world class outdoor winter experience, no matter where you live.
          </p>
          <div class="ob-hero-flex-row">
            <a class="ob-btn ob-btn-bg-red ob-text-white" href="#">Shop Now <svg class="ob-arrow-right ob-arrow-right-white"><use xlink:href="#icon-ob-arrow-right" /></svg></a>
            <a class="ob-text-white ob-cta-link ob-ml-12" href="#">Learn <svg class="ob-arrow-right-red"><use xlink:href="#icon-ob-arrow-right" /></svg></a>  
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

