<div class="ob-hero-container">
  <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/plane-min.png" class="ob-hero-img-1"/>
  <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/man-min.png" class="ob-hero-img-2"/>
  <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/large-snow-min.png" class="ob-hero-img-3"/>
  <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/small-snow-min.png" class="ob-hero-img-4"/>
  <img src="{{cdn 'icons/bg-svg-1.svg'}}" class="ob-hero-img-5"/>
</div>