<div class="ob-hero-container">
  <img class="ob-hero-img-white-overlay"/>
  <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/background-min.png" class="ob-hero-img-bg"/>
  <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/plane-min.png" class="ob-hero-img-1"/>
  <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/man-min.png" class="ob-hero-img-2"/>
  <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/large-snow-min.png" class="ob-hero-img-3"/>
  <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/small-snow-min.png" class="ob-hero-img-4"/>
  <img src="{{cdn 'icons/bg-svg-1.svg'}}" class="ob-hero-img-5"/>
  <div class="ob-cta-container-xl ob-hero-cta-container">
    <h1 class="ob-heading-cta-xl ob-text-white" id="ob-hero-heading">Your Adventure Starts Here.</h1>
    <div class="ob-flex-row ob-mt-25" id="ob-hero-ctas">
      <a class="ob-btn ob-btn-bg-red ob-text-white" href="#" id="hero-cta-btn">Shop Now <svg class="ob-arrow-right ob-arrow-right-white"><use xlink:href="#icon-ob-arrow-right" /></svg></a>
      <a class="ob-btn ob-btn-bg-transparent ob-text-white" href="#" id="hero-cta-link">Shop Now <svg class="ob-arrow-down ob-arrow-down-red"><use xlink:href="#icon-ob-arrow-right" /></svg></a>
    </div>
  </div>
</div>