{{{region name="cta_shop_by_cat"}}}

<div class="ob-wrapper ob-home-bg-6">
<div class="ob-container ob-pt-25 ob-pb-25-mobile">
  <h5 class="ob-heading-cta-md text-center">Shop By Category</h5>
  <div class="f-grid">
    <div class="col-6 col-md-3">
      <div class="ob-category-card">
        <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/shop-by-cat-img.png" />
        <h6 class="ob-heading-cta-sm">Foam Snowshoes</h6>
        <a class="ob-cta-link ob-text-red">Shop Now <svg class="ob-arrow-right-red"><use xlink:href="#icon-ob-arrow-right" /></svg></a>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="ob-category-card">
        <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/shop-by-cat-img.png" />
        <h6 class="ob-heading-cta-sm">Foam Snowshoes</h6>
        <a class="ob-cta-link ob-text-red">Shop Now <svg class="ob-arrow-right-red"><use xlink:href="#icon-ob-arrow-right" /></svg></a>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="ob-category-card">
        <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/shop-by-cat-img.png" />
        <h6 class="ob-heading-cta-sm">Foam Snowshoes</h6>
        <a class="ob-cta-link ob-text-red">Shop Now <svg class="ob-arrow-right-red"><use xlink:href="#icon-ob-arrow-right" /></svg></a>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="ob-category-card">
        <img src="https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/shop-by-cat-img.png" />
        <h6 class="ob-heading-cta-sm">Foam Snowshoes</h6>
        <a class="ob-cta-link ob-text-red">Shop Now <svg class="ob-arrow-right-red"><use xlink:href="#icon-ob-arrow-right" /></svg></a>
      </div>
    </div>
  </div>
</div>
</div>