//layouts based on data page type for certain pages
.container[data-page-type="default"] {
  max-width: 100vw;
  padding: 0;
}

//***************************
//Rows
//***************************
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1400px;
  max-width: 100%;
}

//***************************
//Containers
//***************************
.ob-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 20px;
}

.columns {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
}

.ob-cta-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  &-xl {
    width: 100%;
    max-width: 625px;
  }
  &-lg {
    max-width: 100%;
    width: 525px;

  }
  &-md {
    max-width: 100%;
    width: 330px;

  }
  &-sm {
    max-width: 100%;
    width: 200px;

  }
}

.ob-img-container {
  position: relative;
  width: 100%;
  height: 650px;
}

//***************************
//spacing-utils
//***************************
.ob-mt {
  &-150 {
    margin-top: 150px;
  }
  &-100 {
    margin-top: 100px;
  }
  &-50 {
    margin-top: 50px;
  }
}

.ob-pt {
  &-175 {
    padding-top: 175px;
  }
  &-150 {
    padding-top: 150px;
  }
  &-100 {
    padding-top: 100px;
  }
  &-50 {
    padding-top: 50px;
  }
}
