//***************************
//colors
//***************************

$ob-white: #FFFFFF;
$ob-red: #C41230;
$ob-text-primary: #2A2A2A;
$ob-text-secondary: #707070;
$ob-bg-dark: #1D2B39;
$ob-light-gray: #F2F2F2;
$ob-btn-disabled: #D2D2D2;