
//***************************
//toplevel footer page styles
//***************************
.ob-wizard-container {
  height: calc(100vh - 55px);
  padding-bottom: 0px;
  max-width: 1440px;
}

//***************************
//topbar styles
//***************************
.ob-product-wizard-topbar {
  display: flex;
  align-items: center;
  .ob-cta-link  {
    margin-bottom: 0;
  }
  .ob-heading-cta-xs{
    margin-left: auto;
    margin-bottom: 0;
  }
}

//***************************
//mid styles
//***************************
.ob-product-wizard-mid-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  @include breakpoint("medium") {
    flex-direction: row;
  }
}
.wizard-choice-btn-container {
  min-height: 165px;
  display: flex;
  flex-wrap: wrap;
  overflow:auto;
  @include breakpoint("medium") {
    flex-direction: column;
    min-height: 375px;
    max-height: 375px;
  }
}


//***************************
//sidebar styles
//***************************
.ob-wizard-sidebar-container {
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom:0;
  @include breakpoint("medium") {
    width: 300px;
    margin-right: 25px;
    position: relative;
  }
}
.wizard-sidebar-rows-container {
  background-color: $ob-light-gray;
  border-radius: 6px;
  display: flex;
  @include breakpoint("medium") {
    flex-direction: column;
  }
}
.ob-wizard-sidebar-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  width: 20%;
  p {
    margin-bottom: 0;
    margin-top: 0;
  }
  @include breakpoint("medium") {
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
  }
}
.wizard-row-incomplete {
  opacity: .6;
}
.wizard-row-complete {
  opacity: 1;
}
.wizard-row-current {
  border-top: 3px solid $ob-red;
  opacity: 1;
  @include breakpoint("medium") {
    border-left: 3px solid $ob-red;
    border-top: 3px solid transparent;
  }
}
.wizard-row-number {
  margin-left: 15px;
}
.wizard-row-name {
  margin-left: 3px;
}
.wizard-row-checkbox {
  @include breakpoint("medium") {
    margin-left: auto;
  }
}

.ob-sidebar-shoe-container {
  position: relative;
  margin-bottom: 25px;
  width: 300px;
  height: 93px;
  overflow: hidden;
  transition: background-color 300ms ease-in-out;
}
.ob-wizard-sidebar-shoe {
  width: 300px;
  height: auto;
  border: none;
  bottom: -1px;
  position: absolute;
  left: 0;
}
.ob-sidebar-shoe-container-step {
  &-1 {
    background-color: #D2D2D2;
  }
  &-2 {
    background-image: linear-gradient(
      to right, 
    #C41230,
    #C41230 20%,
    #D2D2D2 20%,
    #D2D2D2 100%
    );
  }
  &-3 {
    background-image: linear-gradient(
      to right, 
    #C41230,
    #C41230 40%,
    #D2D2D2 40%,
    #D2D2D2 100%
    );
  }
  &-4 {
    background-image: linear-gradient(
      to right, 
    #C41230,
    #C41230 60%,
    #D2D2D2 60%,
    #D2D2D2 100%
    );
  }
  &-5 {
    background-image: linear-gradient(
      to right, 
    #C41230,
    #C41230 80%,
    #D2D2D2 80%,
    #D2D2D2 100%
    );
  }
  &-6 {
    background-color: #C41230;
    animation-name: color;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;

    @keyframes color {
      0% {
        background-color: #C41230;
      }
      50% {
        background-color: #db8d9a;
      }
      100% {
        background-color: #C41230;
      }
    }
  }

}

//***************************
//mainpanel styles
//***************************
.ob-bg-dark {
  background-color: $ob-bg-dark;
}
.ob-bg-light {
  background-color: $ob-light-gray;
}
.ob-wizard-mainpanel-container {
  max-width: 1040px;
  width:100%;
  border-radius: 6px;
  padding: 15px;
  background-image: url('../icons/bg-svg-product-wizard.svg');
  background-position: bottom -1px right 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;
  min-height: 400px;
  @include breakpoint("medium") {
    min-height: 700px;
    height: 700px;
    padding: 30px;
    background-position: bottom -50px left 0px;
  }
  @media only screen and (max-device-width: 330px) {
    height: 350px;
    min-height: 350px;
    background-position: bottom -75px left 0px;
  }
}
.ob-mainpanel-step-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}
.ob-wizard-mainpanel-bottom {
  margin-top: auto;
  margin-bottom: 10px;
  @include breakpoint("medium") {
    margin-bottom: 30px;
  }
}
.ob-wizard-mainpanel-tip {
  display: none;
  max-width: 860px;
  @include breakpoint("medium") {
    display: flex;
    align-items: flex-start;
    img {
      margin-right: 10px;
    }
  }
  
}
.ob-wizard-step-btns-row {
  display: flex;
  padding-top: 12px;
  .ob-cta-link {
    padding-left: 0;
  }
  .ob-btn {
    margin-left: auto;
  }
}

.wizard-mainpanel-user-choice-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 16px);
  margin: 8px;
  border-radius: 6px;
  max-height: 65px;
  background-color: #fff;
  border: 2px solid transparent;
  &:hover, &:focus {
    border: 2px solid $ob-red;
    background-color: white;
    color: $ob-red;
  }
  @include breakpoint("medium") {
    width: 525px;
    max-width: 90%;
    margin: 8px auto;
  }
}

.choiceIsSelected {
  border: 2px solid $ob-red;
  background-color: white;
  color: $ob-red;

}


//***************************
//results grid styles
//***************************
.wizard-result-grid-container {
  display: flex;
  width: 100%;
  @include breakpoint("medium") {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.wizard-result-card {
  width: 125px;
  max-width: 125px;
  min-width: 125px;
  margin-right: 25px;
  flex-shrink: 1;
  text-align: center;
  position: relative;
  img {
    width: 100%;
    max-width: 100%;
    height: 125px;
    max-height: 125px;
    min-width: 125px;

    object-fit: contain;
    mix-blend-mode: multiply;
    transition: all .3s ease-in-out;
    // font-family: "object-fit: cover;";
    margin-bottom: 15px;
    &:hover {
      transform: scale(1.1);
    }
  }
  .ob-best-fit-tag {
    @include position(absolute, 2, $top: 0px, $left: 0px);
    background-color: $ob-red;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    img {
      max-width: 18px !important;
      min-width: 18px;
      max-height: 18px;
      width: 18px !important;
      height: 18px;
      margin: 0px;
      mix-blend-mode: normal;
      margin-right: 7px;
    }
    p {
      margin: 0px;
    }
  }
  @include breakpoint("medium") {
    width: 275px;
    max-width: 275px;
    img {
      height: 275px;
      max-height: 275px;
    }
  }
}