
//***************************
//Fonts
//***************************

@font-face {
  font-family: 'VisbyCF';
  src: url('https://store-pqywb1ijst.mybigcommerce.com/content/visby-cf/webfonts/visby-cf.woff2') format('woff2'),
        url('https://store-pqywb1ijst.mybigcommerce.com/content/visby-cf/webfonts/visby-cf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VisbyCF Bold';
  src: url('https://store-pqywb1ijst.mybigcommerce.com/content/visby-cf-bold/webfonts/visby-cf-bold.woff2') format('woff2'),
        url('https://store-pqywb1ijst.mybigcommerce.com/content/visby-cf-bold/webfonts/visby-cf-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VisbyCF';
  src: url('https://store-pqywb1ijst.mybigcommerce.com/content/visby-cf-medium/webfonts/visby-cf-medium.woff') format('woff2'),
        url('https://store-pqywb1ijst.mybigcommerce.com/content/visby-cf-medium/webfonts/visby-cf-medium.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html, body, p, span, a {
  font-family: 'VisbyCF' !important;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  text-transform: unset;
  font-family: "VisbyCF Bold";
  letter-spacing: .025em;
}

a {
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

.body {
  margin-bottom: 0;
  margin-top: 0;
  x-overflow: hidden;
}


//***************************
//Remove container styling from certain pages
//***************************
//layouts based on data page type for certain pages
.container {
  overflow: hidden;
}
.container[data-page-type="default"] {
  max-width: 100vw;
  padding: 0;
}
.container[data-page-type="category"], .container[data-page-type="blog"], .container[data-page-type="product"], .container[data-page-type="page"] {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

.page {
  max-width: 1600px;
  margin: 0 auto;
}

//***************************
//Pagination styles
//***************************
.pagination-list {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pagination-item {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  margin-left: 6;
  &--current {
    border-radius: 50% !important;
    border: 2px solid $ob-text-primary !important;
  }
}

.pagination-link {
  padding: .5rem !important;
  font-weight: 900 !important;
}

.ob-pagination-arrow {
  svg {
    fill: $ob-text-primary;
  }
}

//***************************
//Breadcrumb styles
//***************************
.breadcrumbs {
  text-align: left;
  padding-left: 1rem;
}
.container[data-page-type="category"], .container[data-page-type="product"] {
  .breadcrumbs {
    @include breakpoint("medium") {
      display: block !important;
      margin-bottom: 0px;
    }
  }
}

//***************************
//Misc styles
//***************************
.u-hiddenVisually {
  margin: 0 !important;
  display: none;
  .form-label {
    margin: 0!important;
    height: 0!important;
  }
}

//***************************
//visibility helpers
//***************************
.ob-desktop {
  @media only screen and (max-width: 801px)  {
    display: none !important;
  }
}

.ob-mobile {
  @media only screen and (min-width: 801px)  {
    display: none !important;
  }
}

.productView-description--truncate {
  height: 300px;
  overflow: hidden;
}