//***************************
//Animated Homepage Hero Styling
//***************************
.ob-hero-container {
  background-image: url('https://cdn11.bigcommerce.com/s-pqywb1ijst/product_images/uploaded_images/background-min.png');
  max-height: 1036px;
  height: 1036px;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.ob-hero-cta-container {
  @include position(absolute, 6, $top: 150px, $right: 150px);

}


.ob-hero-img-1 {
  @include position(absolute, 0, $bottom: 0, $right: -100px);
}

.ob-hero-img-2 {
  @include position(absolute, 2, $bottom: 0, $left: 150px);
}

.ob-hero-img-3 {
  @include position(absolute, 3, $bottom: 0, $left: 0);
  height: 100%;
  width: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;'; //for ie11

}

.ob-hero-img-4 {
  @include position(absolute, 4, $bottom: 0, $left: 0);
  height: 100%;
  width: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;'; //for ie11

}

.ob-hero-img-5 {
  @include position(absolute, 5, $bottom: -1px, $left: 0);
}

//hide ctas initially
#ob-hero-heading { display: none; }
#ob-hero-ctas{ display: none; }

//***************************
//HOME CTA Sections styling
//***************************

.ob-home-cta-img {
  &-1 {
    @include position(absolute, 3, $bottom: 0, $right: 0);
  }
  &-2 {
    @include position(absolute, 4, $top: 20%, $left: -10%);
  }
  &-3 {
    @include position(absolute, 4, $bottom: -30px, $left: 0);
  }
  &-4 {
    @include position(absolute, 4, $top: -150px, $left: 0);
  }
  &-5 {
    @include position(absolute, 4, $bottom: -200px, $left: 0);
  }
}

.ob-cta-icon {
  width: 53px;
}

.ob-cta-free-shipping {
  margin-top: 500px;
  margin-bottom: 150px;
}

//***************************
//HOME SVg bg styling
//***************************
.ob-home-bg {
  &-2 {
    background-image: url('../icons/bg-svg-6.svg');
    background-position: bottom;
    background-repeat: no-repeat;
  }
  &-3 {
    background-image: url('../icons/bg-svg-4.svg');
    background-position: top;
    background-repeat: no-repeat;
  }
  &-4 {
    background-image: url('../icons/bg-svg-5.svg');
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

.ob-home-cta-1-bottom-bg {
  @include position(absolute, 2, $bottom: 0, $left: 0);
}