//***************************
//topbar styles
//***************************
.ob-product-wizard-topbar {
  display: flex;
  align-items: center;
  .ob-cta-link  {
  }
  .ob-heading-cta-xs{
    margin-left: auto;
    margin-bottom: 0;
  }
}