//***************************
//Category Container
//***************************
.container[data-page-type="category"] {
  .ob-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

//***************************
//Category Subnav
//***************************
.ob-cat-subnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top:1px solid #D2D2D2;
  border-bottom:1px solid #D2D2D2;
  position: relative;
  a {
    padding: 1rem;
    font-weight: 900;
    &:hover {
      border-bottom: 1px solid $ob-red;
    }
  }
  &--mobile {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: none;

    a {
      border-bottom: 1px solid #D2D2D2;
      width: 100%;
      &:hover {
        border-bottom: 1px solid #D2D2D2;
      }
    }
  }
}

.ob-toggle-subcat {
  position: absolute;
  top: 0;
  right: 0;
  svg {
    width: 20px;
    height: 20px;
    fill: $ob-text-secondary;
    stroke:$ob-text-secondary;
  }
  
}

.ob-cat-subnav-link--active {
  border-bottom: 1px solid $ob-red;
}


//***************************
//Product Grid Styles
//***************************
#product-listing-container {
  .actionBar {
    display: none;
  }
}
li.product {
  &:hover {
    .ob-cat-product-card-swatch {
      opacity: 1;
    }
  }
}
.ob-swatch-hover-container {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}
.ob-cat-product-card-swatch {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-right: 5px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

//***************************
//Highlights section
//***************************
.ob-cat-highlights {
  background-image: url('../icons/ob-cat-highlights-bg.svg');
  background-position: top;
  background-size: cover;
}

.ob-cat-highlights-img {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    mix-blend-mode: multiply;
  }
}

.ob-cat-hightlights-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 15px;
  svg {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    margin-right: 10px;
    margin-top: 3px;
  }
}