
//***************************
//Button Styling
//***************************
button[disabled] {
  background-color: $ob-btn-disabled;
  &:hover, &:focus {
    background-color: $ob-btn-disabled;
  }
  &:hover {
    cursor: not-allowed;
  }
}

.ob-btn {
  @include text($size: 15px, $lineHeight: 15px, $weight: 900);
  padding: 15px 38px;
  letter-spacing: 0.025em;
  border-radius: 6px;
  text-decoration: none;
  white-space: nowrap;
  transition: all ease-in-out .2s;
  &-bg-red {
    background-color: $ob-red;
    box-shadow: 0px 15px 30px rgba(108, 43, 54, 0.25);
  }
  &-transparent {
    background-color: transparent;
  }
  &:hover {
    .ob-arrow-right-red, .ob-arrow-right-white{
      transform: translateX(7px);
    }
    .ob-arrow-down-red, .ob-arrow-down-white {
      transform: rotate(90deg) translateX(7px);
    }
  } 
}

.ob-cta-link {
  @include text($size: 15px, $lineHeight: 15px, $weight: 900);
  letter-spacing: 0.025em;
  text-decoration: none; 
  padding-top: 15px;
  padding-bottom: 15px;
  white-space: nowrap;
  transition: all ease-in-out .2s;
  &:hover {
    .ob-arrow-right-red, .ob-arrow-right-white{
      transform: translateX(7px);
    }
    .ob-arrow-down-red, .ob-arrow-down-white {
      transform: rotate(90deg) translateX(7px);
    }
    .ob-arrow-left-red {
      transform: rotate(180deg) translateX(7px);
    }
  }
}

//***************************
//SVG STYLING
//***************************
.ob-arrow-right {
  &-red {
    fill: $ob-red;
    width: 14px;
    height: 9px;
    margin-left: 10px;
    transition: all ease-in-out .2s;

  }
  &-white {
    fill: $ob-white;
    width: 14px;
    height: 9px;
    margin-left: 10px;
    transition: all ease-in-out .2s;

  }
}

.ob-arrow-down {
  &-red {
    fill: $ob-red;
    width: 14px;
    height: 9px;
    margin-left: 10px;
    transition: all ease-in-out .2s;
    transform: rotate(90deg);
  }
  &-white {
    fill: $ob-white;
    stroke: $ob-white;
    width: 14px;
    height: 9px;
    margin-left: 10px;
    transition: all ease-in-out .2s;
    transform: rotate(90deg);
  }
}

.ob-arrow-left {
  &-red {
    fill: $ob-red;
    width: 14px;
    height: 9px;
    margin-right: 10px;
    transition: all ease-in-out .2s;
    transform: rotate(180deg);
  }
}

.ob-toggle-subcat {
  &:hover, &:focus {
    background-color: transparent;
  }
}
.ob-toggle-subcat.ob-is-closed {
  svg {
    transition: all ease-in-out .3s;
    transform: rotate(-180deg);
  }
}