
.slick-next {
  right: 5px;
}
.slick-prev {
  left: -15px;
}
.slick-next, .slick-prev {
  background-color: transparent;
  border: none;
  &:hover, &:focus {
    background-color: transparent;
  }
}
.slick-next::before, .slick-next:hover::before, .slick-next:focus:before {
  background-image: url('../icons/ob-slider-arrow-right.svg');
  width: 40px;
  &:hover {
    background-image: url('../icons/ob-slider-arrow-right.svg');
  }
}
.slick-prev::before, .slick-prev:hover::before, .slick-prev:focus:before {
  background-image: url('../icons/ob-slider-arrow-left.svg');
  width: 40px;
  &:hover {
    background-image: url('../icons/ob-slider-arrow-left.svg');
  }
}

.ob-product-carousel-container {
  display: flex !important;
  flex-direction: column;
  .slick-next, .slick-prev {
    display: none !important;
  }
  .productView-thumbnail-link {
    padding: 0;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.ob-carousel-vertical-next, .ob-carousel-vertical-prev {
  margin: 0 auto;
  &:focus, &:hover {
    background-color: transparent;
  }
  svg {
    width: 50px;
    height: 30px;
  }
  
}