//***************************
//topbar styles
//***************************
.ob-product-wizard-topbar {
  display: flex;
  align-items: center;
  .ob-cta-link  {
    margin-bottom: 0;
  }
  .ob-heading-cta-xs{
    margin-left: auto;
    margin-bottom: 0;
  }
}

//***************************
//mid styles
//***************************
.ob-product-wizard-mid-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wizard-choice-btn-container {
  min-height: 300px;
}


//***************************
//sidebar styles
//***************************
.ob-wizard-sidebar-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 25px;
}
.wizard-sidebar-rows-container {
  background-color: $ob-light-gray;
  border-radius: 6px;
}
.ob-wizard-sidebar-row {
  display: flex;
  align-items: center;
  padding: 20px;
  border-left: 2px solid transparent;

  p {
    margin-bottom: 0;
    margin-top: 0;
  }
}
.wizard-row-complete {
  border-left: 2px solid $ob-red;
}
.wizard-row-incomplete {
  opacity: .6;
}
.wizard-row-number {
  margin-left: 15px;
}
.wizard-row-name {
  margin-left: 3px;
}
.wizard-row-checkbox {
  margin-left: auto;
}

//***************************
//mainpanel styles
//***************************
.ob-wizard-mainpanel-container {

  background-color: $ob-bg-dark;
  border-radius: 6px;
  padding: 30px;
  background-image: url('../icons/bg-svg-product-wizard.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 700px;
  height: 700px;
}
.ob-mainpanel-step-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}
.ob-wizard-mainpanel-bottom {
  margin-top: auto;
  margin-bottom: 30px;
}
.ob-wizard-mainpanel-tip {
  display: flex;
  align-items: flex-start;
  img {
    margin-right: 10px;
  }
}
.ob-wizard-step-btns-row {
  display: flex;
  .ob-btn {
    margin-left: auto;
  }
}

.wizard-mainpanel-user-choice-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 8px auto;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid transparent;
  &:hover, &:focus {
    border: 2px solid $ob-red;
    background-color: white;
    color: $ob-red;
  }
}

.choiceIsSelected {
  border: 2px solid $ob-red;
  background-color: white;
  color: $ob-red;

}