
//***************************
//Button Styling
//***************************
.ob-btn {
  @include text($size: 15px, $lineHeight: 15px, $weight: 900);
  padding: 15px 38px;
  letter-spacing: 0.025em;
  border-radius: 6px;
  text-decoration: none;
  transition: all ease-in-out .2s;
  &-bg-red {
    background-color: $ob-red;
  }
  &-transparent {
    background-color: transparent;
  }
  &:hover {
    .ob-arrow-right-red, .ob-arrow-right-white{
      transform: translateX(7px);
    }
    .ob-arrow-down-red, .ob-arrow-down-white {
      transform: rotate(90deg) translateX(7px);
    }
  } 
}

.ob-cta-link {
  @include text($size: 15px, $lineHeight: 15px, $weight: 900);
  padding: 13px 40px 13px 0px;
  letter-spacing: 0.025em;
  text-decoration: none; 
  transition: all ease-in-out .2s;
  &:hover {
    .ob-arrow-right-red, .ob-arrow-right-white{
      transform: translateX(7px);
    }
    .ob-arrow-down-red, .ob-arrow-down-white {
      transform: rotate(90deg) translateX(7px);
    }
  }
}

//***************************
//SVG STYLING
//***************************
.ob-arrow-right {
  &-red {
    fill: $ob-red;
    width: 14px;
    height: 9px;
    margin-left: 10px;
    transition: all ease-in-out .2s;

  }
  &-white {
    fill: $ob-white;
    stroke: $ob-white;
    width: 14px;
    height: 9px;
    margin-left: 10px;
    transition: all ease-in-out .2s;

  }
}

.ob-arrow-down {
  &-red {
    fill: $ob-red;
    width: 14px;
    height: 9px;
    margin-left: 10px;
    transition: all ease-in-out .2s;
    transform: rotate(90deg);
  }
  &-white {
    fill: $ob-white;
    stroke: $ob-white;
    width: 14px;
    height: 9px;
    margin-left: 10px;
    transition: all ease-in-out .2s;
    transform: rotate(90deg);
  }
}

.ob-toggle-subcat {
  &:hover, &:focus {
    background-color: transparent;
  }
}
.ob-toggle-subcat.ob-is-closed {
  svg {
    transition: all ease-in-out .3s;
    transform: rotate(-180deg);
  }
}