

//***************************
//Rows
//***************************
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1600px;
  max-width: 100%;
}

//***************************
//Containers
//***************************
.ob-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 100px 17px;
  @include breakpoint("medium") {
    padding: 100px 20px;
  }
}

.columns {
  position: relative;
  display: flex;
  height: 100%;
}

.ob-cta-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  &-xl {
    width: 100%;
    max-width: 625px;
  }
  &-lg {
    width: 100%;
    max-width: 525px;

  }
  &-md {
    width: 100%;
    max-width: 330px;

  }
  &-sm {
    width: 100%;
    max-width: 200px;

  }
}

.ob-img-container {
  position: relative;
  width: 100%;
  height: auto;
  img {
    filter: drop-shadow(0px 30px 50px rgba(0, 0, 0, 0.12));
  }
  &-430 {
    max-width: 430px;
    @include breakpoint("medium") {
      max-width: 100%;
    }
  }
  @include breakpoint("medium") {
    height: 650px;
    &-1 {
      height: 575px;
      display: flex;
      align-items: flex-start;
    }
  }
}

//***************************
//spacing-utils
//***************************
.ob-mt {
  &-200 {
    margin-top: 200px;
  }
  &-150 {
    margin-top: 150px;
  }
  &-100 {
    margin-top: 100px;
  }
  &-50 {
    margin-top: 50px;
  }
  &-25 {
    margin-top: 25px;
  }
  &-12 {
    margin-top: 12px;
  }
  //mobile
  @media only screen and (max-width: 801px) {
    &-200-mobile {
      margin-top: 200px;
    }
    &-150-mobile {
      margin-top: 150px;
    }
    &-100-mobile {
      margin-top: 100px;
    }
    &-50-mobile {
      margin-top: 50px;
    }
    &-25-mobile {
      margin-top: 25px !important;
    }
    &-12-mobile {
      margin-top: 12px;
    }
    &-0-mobile {
      margin-top: 0px;
    }
  }
}

.ob-mb {
  &-200 {
    margin-bottom: 200px;
  }
  &-150 {
    margin-bottom: 150px;
  }
  &-100 {
    margin-bottom: 100px;
  }
  &-50 {
    margin-bottom: 50px;
  }
  &-25 {
    margin-bottom: 25px;
  }
  &-12 {
    margin-bottom: 12px;
  }
  &-0-auto {
    margin: 0 auto;
  }
  //mobile
  @media only screen and (max-width: 801px) {
    &-200-mobile {
      margin-bottom: 200px;
    }
    &-150-mobile {
      margin-bottom: 150px;
    }
    &-100-mobile {
      margin-bottom: 100px;
    }
    &-50-mobile {
      margin-bottom: 50px;
    }
    &-25-mobile {
      margin-bottom: 25px !important;
    }
    &-12-mobile {
      margin-bottom: 12px;
    }
    &-0-mobile {
      margin-bottom: 0px;
    }
  }
}

.ob-ml {
  &-30 {
    margin-left: 30px;
  }
  &-12 {
    margin-left: 12px;
  }
}

.ob-pl {
  &-30 {
    padding-left: 30px;
  }
}

.ob-pt {
  &-175 {
    padding-top: 175px;
  }
  &-150 {
    padding-top: 150px;
  }
  &-100 {
    padding-top: 100px;
  }
  &-50 {
    padding-top: 50px;
  }
  &-25 {
    padding-top: 25px;
  }
  &-0 {
    padding-top: 0px;
  }
  //mobile
  @media only screen and (max-width: 801px) {
    &-200-mobile {
      padding-top: 200px;
    }
    &-150-mobile {
      padding-top: 150px;
    }
    &-100-mobile {
      padding-top: 100px;
    }
    &-50-mobile {
      padding-top: 50px;
    }
    &-25-mobile {
      padding-top: 25px;
    }
    &-12-mobile {
      padding-top: 12px;
    }
    &-0-mobile {
      padding-top: 0px;
    }
  }
}

.ob-pb {
  &-175 {
    padding-bottom: 175px;
  }
  &-150 {
    padding-bottom: 150px;
  }
  &-100 {
    padding-bottom: 100px;
  }
  &-50 {
    padding-bottom: 50px;
  }
  &-25 {
    padding-bottom: 25px;
  }
  &-0 {
    padding-bottom: 0px;
  }
  //mobile
  @media only screen and (max-width: 801px) {
    &-200-mobile {
      padding-bottom: 200px;
    }
    &-150-mobile {
      padding-bottom: 150px;
    }
    &-100-mobile {
      padding-bottom: 100px;
    }
    &-50-mobile {
      padding-bottom: 50px;
    }
    &-25-mobile {
      padding-bottom: 25px;
    }
    &-12-mobile {
      padding-bottom: 12px;
    }
    &-0-mobile {
      padding-bottom: 0px;
    }
  }
}


//***************************
//Position
//***************************

.ob-relative {
  position: relative;
}

//***************************
//Width
//***************************
.ob-mw {
  &-1400 {
    max-width: 1400px;
  }
  &-1200 {
    max-width: 1200px;
  }
  &-500 {
    max-width: 500px;
  }
  &-400 {
    max-width: 400px;
  }
  &-200 {
    max-width: 200px;
  }
}