//***************************
//Blog Cards
//***************************
.ob-blog-card {
  max-width: 330px;
}

.ob-blog-card-img {
  width: 330px;
  height: 165px;
  margin-bottom: 18px;
  object-fit: cover;
}