.ob-productView {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

//***************************
//Product Images
//***************************
.productView-images {
  padding: 0px;
  display: flex;
  flex: 1;
  width: 100%;
  margin-bottom: 1rem;
  @include breakpoint("medium") {
    margin-bottom: 3rem;
  }
}

.ob-product-main-image {
  width: 625px;
}

.productView-img-container {
  max-width: 625px;
  img {
    margin-top: 0;
  }
  &:after {
    padding-bottom: 100%;
  }
}

.productView-thumbnail-link.is-active {
  border: 2px solid $ob-red;
}
.productView-thumbnail-link {
  border: 2px solid transparent;
  &:hover {
    border: 2px solid $ob-red;
  }
  &:focus {
    outline: none;
  }
}

//***************************
//Product Details
//***************************
.ob-product-title {
  font-size: 24px;
  @include breakpoint("medium") {
    font-size: 40px;
  }
}
.ob-option-details {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.ob-productView-details {
  max-width: 525px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  
  .productView-details {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .price {
    @include text($size: 18px, $lineHeight: 30px, $weight: 500);
    color: $ob-text-secondary;
  }
}

.productView-description {
  padding: 0;
  .productView-title {
    display: none;
    padding: 0;
  }
  p {
    @include text($size: 16px, $lineHeight: 30px, $weight: 500);
  }
}
.alertBox.productAttributes-message {
  padding: 10px;
  padding-top: 7px;
  margin-left: 20px;
  background-color: transparent;
}

.productView-info {
  display: none;
}

.ob-swatch-description {
  padding-left: 0px !important;
}
.productView-product {
  border-bottom: none;
}

.form-field[data-product-attribute="swatch"] {
  .form-label {
    @include text($size: 16px, $lineHeight: 30px, $weight: 900);
    color: $ob-text-primary;
  }
  .form-option-swatch {
    box-shadow: none;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid transparent;
    margin-right: 5px;
  }
  .form-radio:checked + .form-option {
    border: 2px solid $ob-red;
  }
  .form-option-variant--color {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

.form-option {
  border: 2px solid $ob-light-gray;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 0px;
}

.productView-options {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  .form-field--increments {
    overflow: visible;
    .form-label {
      display: none;
    }
    .button--icon {
      display: none;
    }
    .form-input--incrementTotal {
      width: 55px;
      height: 55px;
      margin-bottom: 0;
      background-color: white;
      box-shadow: 0px 15px 30px rgba(125, 125, 125, 0.25);
      border-radius: 6px;
      border: none;
    }
  }
}

.ob-add-to-cart {
  display: flex;
  margin-top: 3rem;
  .form-action {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    height: 55px;
    margin-left: 30px;
  }
  #form-action-addToCart {
    height: 55px;
    margin: 0 auto;
    width: 100%;
    background: $ob-red;
    box-shadow: 0px 15px 30px rgba(108, 43, 54, 0.25);
    border-radius: 6px;
    border: none;
    font-weight: 900;
    letter-spacing: 0.025em;
  }
  svg {
    width: 22px;
    height: 15px;
    fill: $ob-white;
    stroke: $ob-white;
    margin-right: 7px;
  }
}
.form-wishlist, a[aria-controls="wishlist-dropdown"] {
  display: none;
}



.socialLinks {
  display: none;
}

.ob-product-free-shipping {
  padding-left: 20px !important;
  padding-right: 20px !important;
  svg {
    fill: black;
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  .col-2 {
    padding: 0px;
    @include breakpoint("medium") {
      padding: 0px 10px;
    }
  }
}

//***************************
//Product Details Mobile Styling
//***************************
.form-field[data-product-attribute="swatch"] {
  @media only screen and (max-width: 801px)  {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: flex-end;
    label#swatchGroup {
      display: flex;
      align-items:center;
      margin-right: auto;
      small {
        margin-top: 0px;
      }
    }
   
  }
}

//***************************
//Product Details Subnav
//***************************
.ob-product-subnav-content {
  padding: 2rem;
  .ob-paragraph-lg {
    font-size: 16px !important;
    line-height: 30px;
  }
}
.ob-subnav-content-item {
  display: none;
}
.ob-show {
  display: block;
}

//***************************
//Product Videos
//***************************
// .videoGallery-main {
//   display: none;
// }
.ob-video-card {
  max-width: 100%;
  width: 430px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  iframe {
    max-width: 100%;
  }
}

//***************************
//Product Details Accordion
//***************************
.ob-cat-link-container {
  background-color: $ob-white !important;
  padding-left: 0px !important;
}

#subnav-desc {
  #ob-product-specs-description {
    display: none;
  }
}

#panel1a {
  #ob-product-specs-description {
    display: none;
  }
}