<div class='ob-cat-highlights' id='ob-cat-highlights'><div class='ob-container ob-pt-0 ob-cat-hightlights-container'><h5 class='ob-heading-cta-md text-center ob-pt-150 ob-pt-25-mobile ob-mb-25'>Highlights</h5><div class='f-grid ob-cat-highlights-pb'><div class='col-12 col-md-6 col-grid justify-center ob-cat-highlights-img'></div><div class='col-12 col-md-6 ob-cat-highlights-list ob-mw-500' style='display: flex; align-items: center; flex-wrap: wrap;'>{{#each bullet_li}}<div class='ob-cat-hightlights-list-item'><svg><use xlink:href='#icon-ob-cat-highlights-bullet' /></svg>{{bullet_text}}</div>{{/each}}</div></div></div></div>




{{#each bullet_li}}<div class='ob-cat-hightlights-list-item'><svg><use xlink:href='#icon-ob-cat-highlights-bullet' /></svg>{{bullet_text}}</div>{{/each}}


<!-- <div class="ob-cat-highlights" id="ob-cat-highlights">
	<div class="ob-container ob-pt-0 ob-cat-hightlights-container">
		<h5
			class="ob-heading-cta-md text-center ob-pt-150 ob-pt-25-mobile ob-mb-25"
		>
			Highlights
		</h5>
		<div class="f-grid ob-cat-highlights-pb">
			<div
				class="col-12 col-md-6 col-grid justify-center ob-cat-highlights-img"
      >
        {{{region name="cat_highlights_img"}}}
				
			</div>
			<div class="col-12 col-md-6 ob-cat-highlights-list ob-mw-500" style="display: flex; align-items: center;">
        {{{region name="cat_highlights_list"}}}
				
			</div>
		</div>
	</div>
</div> -->